<!DOCTYPE html>
<html>
<head>
    <title>Dr. Bot</title>
    <link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/1055/1055686.svg">
</head>
<body>
    <h1>🏥 Dr. Bot 🤖: Your Virtual Medical Companion 💊🩺</h1>
    <h2>An application that can help users to identify medical problems</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg">
        <input type="submit" value="Upload and Analyze">
    </form>
    {% if response %}
        <h1>Here is the analysis based on your image</h1>
        <img src="{{ url_for('static', filename=filename) }}" alt="Uploaded Medical Image" width="250">
        <p>{{ response }}</p>
    {% endif %}
</body>
</html>